name: Docker Image CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: [Dockerfile, Dockerfile.tensorflow, Dockerfile.full]
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          tags: test-image:${{ matrix.dockerfile }}
          load: true
      - name: Run container
        run: |
          docker run --rm test-image:${{ matrix.dockerfile }} > /dev/null
